@model Rent_All_Certificate.Models.DashboardModel
@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-archive fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.InvertoryCount</div>
                        <div>Invertory items</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Dashboard")">
                <div class="panel-footer">
                    <span class="pull-left">View Invertory</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-lightbulb-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.ProductsCount</div>
                        <div>Product items</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Products")">
                <div class="panel-footer">
                    <span class="pull-left">View Products</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bars fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.CategoryCount</div>
                        <div>Categorie items</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Categories")">
                <div class="panel-footer">
                    <span class="pull-left">View Categories</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-building fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.ManufactureCount</div>
                        <div>Manufactures</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Manufacturers")">
                <div class="panel-footer">
                    <span class="pull-left">View Manufactures</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="panel panel-brown">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-certificate fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">NEN3140</div>
                        <div>Expired Certificates</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Dashboard")">
                <div class="panel-footer">
                    <span class="pull-left">View Certificates</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="panel panel-rentall">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-link fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Hoist</div>
                        <div>Expired Certificates</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Dashboard")">
                <div class="panel-footer">
                    <span class="pull-left">View Certificates</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

