@model Rent_All_Certificate.Models.CertificationsUploadModel

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Upload Certification</h1>
    </div>
</div>


@using (Html.BeginForm("Index", "Certifications", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <p>
            <strong>
                Let op! er kunnen alleen maar pdf bestanden geupload worden
                met de volgende bestandsnaam structuur:
            </strong>
            <br/>
            (ProductKey)-(ProductID).pdf
        </p>
        <p>
            <strong>Voorbeeld:</strong>
            INCL0055-0001.pdf
        </p>
        <br/>
</div>

    <div class="col-md-6">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Certification.BranchID, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Certification.BranchID", (SelectList)ViewBag.BranchID, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Certification.BranchID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Certification.BranchID, "Upload", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Certificates" id="Certificates" accept="application/pdf" multiple="multiple" />
                    @Html.ValidationMessageFor(model => model.Certification.BranchID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}
