@using Rent_All_Certificate.Models
@model Rent_All_Certificate.Models.MenuModel

<li class="@(Model.SelectedCategory == null ? " active" : "")"><a href="/">Home</a></li>

@foreach (var item in Model.Categories.Where(m => m.ParentID == null))
{
    if (Model.Categories.Count(m => m.ParentID == item.CategoryID) > 0)
    {
        <li class="dropdown @(item.CategoryID == Model.SelectedCategory ? " active" : "")">
            <a class="dropdown-toggle" href="/Home/products?selectedCategory=@Html.DisplayFor(modelItem => item.CategoryID)">@Html.DisplayFor(modelItem => item.CategoryName) <b class="caret"></b></a>
            <ul class="dropdown-menu">@GetSubCategoryList(Model.Categories.Where(m => m.ParentID == item.CategoryID))</ul>
        </li>
    }
    else
    {
        <li class="@(item.CategoryID == Model.SelectedCategory ? " active" : "")">
            <a href="/Home/products?selectedCategory=@Html.DisplayFor(modelItem => item.CategoryID)">@Html.DisplayFor(modelItem => item.CategoryName)</a>
        </li>
    }
}

@helper GetSubCategoryList(IEnumerable<Category> subList)
{
    foreach (var item in subList)
    {
        if (Model.Categories.Count(m => m.ParentID == item.CategoryID) > 0)
        {
            <li class="dropdown @(item.CategoryID == Model.SelectedCategory ? " active" : "")">
                <a class="dropdown-toggle" href="/Home/products?selectedCategory=@Html.DisplayFor(modelItem => item.CategoryID)">@Html.DisplayFor(modelItem => item.CategoryName) <b class="caret"></b></a>
                <ul class="dropdown-menu">@GetSubCategoryList(Model.Categories.Where(m => m.ParentID == item.CategoryID))</ul>
            </li>
        }
        else
        {
            <li class="@(item.CategoryID == Model.SelectedCategory ? " active" : "")">
                <a href="/Home/products?selectedCategory=@Html.DisplayFor(modelItem => item.CategoryID)">@Html.DisplayFor(modelItem => item.CategoryName)</a>
            </li>
        }
    }
}

