@model IEnumerable<Rent_All_Certificate.Models.CertificationLog>
@{
    ViewBag.Title = "CertificatesHistory";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Certificates</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@if (Model == null || !Model.Any())
{
    <div>No row(s) found.</div>
}
else
{
    <div id="row">
        <p><strong>Key:</strong> @Request.QueryString["key"]</p>
        <p><strong>ID:</strong> @Request.QueryString["invetory"]</p>
        <p><strong>Type:</strong> @Request.QueryString["type"]</p>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchID)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchID)
                </td>
            </tr>
        }
    </table>
}

