@model IEnumerable<Rent_All_Certificate.Models.Certification>
@{
    ViewBag.Title = "CertificatesIndex";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Certificates</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@if (Model == null || !Model.Any())
{
    <div>No row(s) found.</div>
}
else
{
    <div id="row">
        <p><Strong>Key:</Strong> @Request.QueryString["key"]</p>
        <p><strong>ID:</strong> @Request.QueryString["invetory"]</p>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificateType.CertificateTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                History
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch.BranchName)
            </th>
            <th>
                Link
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CertificateType.CertificateTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Detials", "CertificatesHistory", new { invetory = item.InventoryID, key = item.ProductKey, type = item.CertificateTypeID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Firstname) @Html.DisplayFor(modelItem => item.Employee.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.BranchName)
                </td>
                <td>
                    @if (File.Exists(Server.MapPath("~/Content/Uploads/" + item.ProductKey + "-" + item.InventoryID + ".pdf")))
                    {
                        <a href="~/Content/Uploads/@(item.ProductKey)-@(item.InventoryID).pdf" target="blank">Link</a>
                    }
                    else
                    {
                        <a class="grayLink" href="#">Not found</a>
                    }
                </td>
            </tr>
        }
    </table>
}