@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Rent_All_Certificate.Models.Certification>
@{
    ViewBag.Title = "Inventory";
}

<div class="row">
    <div class="col-md-12">
            <h2>Expired Certificates</h2>
        <hr />

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.First().ProductKey)</th>
                    <th>@Html.DisplayNameFor(model => model.First().InventoryID)</th>
                    <th>Upload Date</th>
                    <th>Certificate</th>
                </tr>

                @if (Model == null || Model.Count == 0)
                {
                    <tr>
                        <td colspan="3">No rows match search criteria</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductKey)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InventoryID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <a href="/Content/Uploads/@Html.DisplayFor(modelItem => item.ProductKey)-@Html.DisplayFor(modelItem => item.InventoryID)
.pdf">Link</a>
                            </td>
                        </tr>
                    }
                }

            </table>
            @Html.PagedListPager(Model, page => Url.Action("ExpiredCertificates", new { page}), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>

    </div>
</div>
