@using PagedList.Mvc
@model Rent_All_Certificate.Models.ProductIndexModel

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-md-12">

        @if (Model.ProductTabelList != null && Model.ProductTabelList.Any())
        {
            if (Model.SelectedCategory != null)
            {
                @Html.Action("MenuName", "SharedMenu")
            }
            else
            {
                <h2>Products</h2>
            }

            <hr />
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductTabelList.FirstOrDefault().ProductKey)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductTabelList.FirstOrDefault().ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductTabelList.FirstOrDefault().Category.CategoryName)
                        </th>
                    </tr>
                    @foreach (var item in Model.ProductTabelList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductKey)
                            </td>
                            <td>
                                <a href="inventory?product=@Html.DisplayFor(modelItem => item.ProductKey)">@Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName) - @Html.DisplayFor(modelItem => item.ProductName)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                        </tr>
                    }
                </table>
            </div>

                @Html.PagedListPager(Model.ProductTabelList, page => Url.Action("Products", new { page, selectedCategory = Model.SelectedCategory, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })

                }
                else
                {
                    <h2>Products</h2>
                    <hr />
                    <div>No product(s) were found.</div>
                }
            </div>
</div>