@model IEnumerable<Rent_All_Certificate.Models.Branch>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Branches</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            
        </th>
        <th>
            Certifications
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BranchName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.BranchID}) |
            @if (item.Certification.Count > 0)
            {
                <a class="grayLink" href="#">Delete</a>
            }
            else
            {
                @Html.ActionLink("Delete", "Delete", new {id = item.BranchID}, new {onclick = "return confirm('Are you sure you want to delete?')"})
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certification.Count)
        </td>
    </tr>
}

</table>
